.loginbox{
    height: 100vh;
    background-color:rgb(57, 89, 89); 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login{
    width: 55%;
    padding: 20px;
    font-size: 20px;
    color: #fff;
   box-shadow: 0 0 10px rgb(72, 150, 180);
}
  
.box{
    margin: 15px 0px;
    margin-top: 20px;
    text-align: end;
}
.loginbtn{
    text-decoration: none;
    height: 50px;
    width: 100px;
    margin-right: 20px;
    background-color: inherit;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgb(23, 123, 76);
    border-radius: 20px;
    transition: all .05s;
}
.loginbtn:hover{
    background-color: aqua;
}
.createAcc{
    text-decoration: none;
    color:aqua!important;

}
#passtext,#emailtext,#Msg{
    display:none ;
    border-radius: 13px;
}