*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #1E202B;
}
.logo{
    display: flex;
}
.pic{
    width: 64px;
    height: 45px;
}
.cap h1{
    font-size: 20px;
    margin-left: 10px;
    color: white !important;

}
.cap p{
    font-size: 14px;
    margin-left: 10px;
    color: gray !important;
}
.navbar{
    padding: 30px;
    background-color: #1E202B;
}
.nav-item a{
    color: white!important;
    margin: 10px;
    transition: all 1s;
  
}
.nav-item a:hover{
    color: #009ad8!important;
}
.home{
    height: 40vh;
    background-image: url('../images/banner.png');


   

}
.contain{
    width: 80%;
    margin: auto;
}
.inp{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #1E202B;
    color: aqua!important;
    margin: 50px 0px;
}
.today,.tomorrow,.Nextday{
    display: flex;
    justify-content: space-evenly;
    background-color: #2D303D;
    color: gray!important;

}
.tomorrow{
    background-color: #222530;

}
.weatherdetail{
    display: flex;
    justify-content: space-evenly;
    font-size: 55px;
    font-weight: bolder;
}
.stuts{
    color: #198CD8!important;
    margin: 20px;
    margin-bottom: 30px;


}
.icon{
    color: gray!important;
    display: flex;
    justify-content: space-around;

}
.degree h1{
    font-size: 6.5rem;
}
.city{
margin-left: 20px;
font-weight:lighter;

}
.tomorrowdital,.Nextdaydital{
    text-align: center;

}
.item1,.item2,.item3{
    float: left;
    width: 33.3333%;
    height: 347px;
    background-color: #323544;
    color: white!important;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;

}
.item1{
    border-bottom-right-radius: 0px;

    border-bottom-Left-radius: 20px;

}
.item2{
    background-color: #262936;
    border-radius: 0%;

}
.clr{
    clear: both;
}
.icon img{
    width: 21px;
    height: 22px;
}